<script>
    // Embed the bot data as a JSON array in the JavaScript
    botsData = [
        {{ range $bot := . }}
        {
            guild: "{{ $bot.Guild }}",
            username: "{{ $bot.Username }}",
            avatarurl: "{{ $bot.Avatarurl }}",
            bannerurl: "{{ $bot.Bannerurl }}",
            createdat: "{{ $bot.Createdat }}",
            author: "{{ $bot.Author }}",
            status: "{{ $bot.Status }}",
            lines: [],
            id: {{ $bot.Id }},
            issinger: {{ $bot.Issinger }}
        },
        {{ end }}
    ];
</script>

<div id="bots-main-container">
    <div id="bot-selector">
        <!-- Add your bot selector content here -->
    </div>
    <div id="dads-wheel-container">
        <div id="dads-wheel">
            <div id="dads-img">
                <img src="assets/icons/mozart_draw.jpg" class="rotatable-image" draggable="false">
            </div>
            <!-- Dynamically generated spans -->
            {{ $total := len . }} <!-- Store the length of the Bots array -->
            {{ range $index, $bot := . }}
                <!-- Style each span with a dynamic background color -->
                <span class="line-divider" style="--i:{{ $index }}; transform: rotate(calc(360deg / {{ $total }} * var(--i)));"></span>
                <div class="bot-slice" style="--i:{{ $index }}; --total: {{ $total }};">
                  <div class="bot-text">
                    <span>{{ $bot.Username }}</span>
                  </div>
                </div>
            {{ end }}
        </div>
    </div>
    <div id="bot-controller-menu">
        <div id="bot-controller-buttons">
          <button onclick="rotateWheel(-1)">Left</button>
          <button onclick="rotateWheel(1)">Right</button>
        </div>
        <div id="bot-list-div">
          <!-- List -->
          <ol class="bot-list">
          {{ range $index, $bot := . }}
        <li data-id="{{ $index }}"> 
              <div class="bot-list-item">
                <div class="bot-list-item-title">{{ $bot.Username }} </div> 
                <div class="bot-list-item-details">{{ $bot.Guild }} ~/ {{ $bot.Author }} </div>
              </div>
            </li>   
          {{ end }}
          </ol>
        </div>
    </div>
    <div id="bot-content">
        <!-- Bot content -->
    </div>
</div>

<div id="bot-more-container">
  <table id="line-details-table" class="resizable-table" border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Phrase</th>
        <th>Author</th>
        <th>To ID</th>
        <th>Type</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody id="line-details-body">
      <!-- Rows will be dynamically inserted here -->
    </tbody>
  </table>

</div>

<div id="add-new-line-div">
  <form id="add-new-line-form">
  </form>
</div>


<script>
    // Select all list items
    listItems = document.querySelectorAll('.bot-list li');
    botContentDiv = document.getElementById('bot-content');
    wheel = document.getElementById("dads-wheel");

    document.addEventListener('keydown', (event) => {
      if (event.key === 'ArrowLeft') {
        rotateWheel(-1);  // Rotate left when the left arrow key is pressed
      } else if (event.key === 'ArrowRight') {
        rotateWheel(1);   // Rotate right when the right arrow key is pressed
      } else if (event.key === 'Enter') {
        const viewMoreBtn = document.getElementById("view-more-btn");
        if (viewMoreBtn) {
          viewMoreBtn.click();
        }
      }

    });

    document.addEventListener('htmx:afterRequest', (event) => {
      // Check if the event is related to the "/guild/search/lines" endpoint
      if (event.detail.xhr && event.detail.xhr.responseURL.includes("/guild/search/lines")) {
        const jsonResponse = event.detail.xhr.responseText;
        // Parse the JSON response
        try {
          const lineData = JSON.parse(jsonResponse);
          //console.log(lineData);
          const tbody = document.getElementById('line-details-body');
          // Clear previous rows
          tbody.innerHTML = '';
          if (lineData === "No results found") {
            return;
          }
          // Format and add each line to the table body
          lineData.forEach(line => {
            const row = document.createElement('tr');
            row.innerHTML = `
              <td>${line.phrase}</td>
              <td>${line.author}</td>
              <td>${line.toid}</td>
              <td>${line.ltype}</td>
              <td>${line.createdat}</td>
            `;
            tbody.appendChild(row);
          });

        } catch (error) {
          console.error("Error parsing JSON response:", error);
        }
      }
    });



    currentRotation = 0;
    currentIndex = 0;
    totalDivisions = botsData.length; // Dynamically set based on the number of bots
 
    listItems.forEach((listItem, index) => {
      listItem.addEventListener('click', () => {
        
        currentIndex = index;
        selectBot(index);
        nextBot(index);
      });
    });
    
    if (totalDivisions > 0) {
      selectBot(currentIndex);
    }

    startMovingAnnouncement('This is under construction!', 'red');

    // Function to rotate the wheel
    function rotateWheel(direction) {
        const angle = 360 / totalDivisions;
        currentRotation += angle * direction;
        // Apply the rotation to the wheel
        wheel.style.transform = `rotate(${currentRotation}deg)`;

        selectBot(currentIndex - direction);
    }

    // Optionally, you could also implement a function to directly select a specific bot by its index:
    function nextBot(index) {
        const angle = (360 / totalDivisions) * index;
        currentRotation = -angle; // Move the desired division into the focus area
        wheel.style.transform = `rotate(${currentRotation}deg)`;

        document.querySelectorAll('.bot-text span').forEach((span, spanIndex) => {
          span.classList.toggle('selected', spanIndex === index);
        });
    }

    function selectBot(id) {
      if (id < 0){
          id = totalDivisions + (id % totalDivisions)
      }
      id %= totalDivisions;

      currentIndex = id;

      const bot = botsData[id];
      listItems.forEach((listItem, index) => {
        
        const currentId = parseInt(listItem.getAttribute('data-id'))
        if (currentId === id) {
          botContentDiv.innerHTML = `
                    <div class="bot-content-details">
                      <h2>${bot.username}</h2>
                      <hr>
                      <p>Guild: ${bot.guild}</p>
                      <p>Author: ${bot.author}</p>
                      <p>Status: ${bot.status}</p>
                      <p>Created at: ${bot.createdat}</p>
                      <input id="view-more-btn" value="View more" type="button" hx-trigger="click" hx-get="/guild/search/lines?bid=${bot.id}" hx-swap="none" ></input>
                    </div>
                    <div class="bot-content-image">
                      <img src="${bot.avatarurl}" alt="${bot.username}'s avatar" >
                    </div>
                `;

          htmx.process(botContentDiv);

          listItem.classList.add('selected');

        } else {
          listItem.classList.remove('selected');
        }

      });
      
      document.querySelectorAll('.bot-text span').forEach((span, spanIndex) => {
        span.classList.toggle('selected', spanIndex === id);
      });

    }
    

    function startMovingAnnouncement(text, color) {
      const container = document.getElementById('bot-selector');

      // Create a span to hold the moving text
      const textSpan = document.createElement('span');
      textSpan.innerText = text;
      textSpan.style.position = 'absolute';
      textSpan.style.whiteSpace = 'nowrap';
      textSpan.style.color = color;
      textSpan.style.fontSize = '1.5em';
      textSpan.style.transform = 'translateY(-50%)';

      // Append the textSpan to the container
      container.appendChild(textSpan);
      posX = -textSpan.offsetWidth;

      // Function to animate the text
      function moveText() {
        posX += 2; // Speed of movement; increase for faster scrolling
        if (posX > container.offsetWidth) {
          posX = -textSpan.offsetWidth; // Reset to the start when the end is reached
        }
        textSpan.style.left = `${posX}px`;
        requestAnimationFrame(moveText);
      }

      // Start moving the text
      moveText();
    }


    document.addEventListener('DOMContentLoaded', () => {
      const table = document.querySelector('.resizable-table');

      const headers = table.querySelectorAll('th')
      headers.forEach((header, index) => {
        const resizer = document.createElement('div');
        resizer.classList.add('resizer')
        header.appendChild(resizer);

        resizer.addEventListener('mousedown', (event) => {
          event.preventDefault();

          const startX = event.pageX;
          const startWidth = header.offsetWidth;

          const onMouseMove = (e) => {
            const newWidth = startWidth + (e.pageX - startX);
            header.style.wdith = `${newWidth}px`;
          };

          const onMouseUp = () => {
            document.removeEventListener('mousemove', onMouseMove);
            document.removeEventListener('mouseup', onMouseUp);
          };

          document.addEventListener('mousemove', onMouseMove);
          document.addEventListener('mouseup', onMouseUp);
        });
      });
    });
</script>







