<div id="hof-display"> 
    
    <canvas id="matrixCanvas"></canvas>
    <script>
        matrixEffect = createMatrixEffect();
        document.getElementById('matrix-switch').addEventListener('click', matrixEffect.toggle);
    </script>

    <div class="hof-content">
        <div id="hof-header">
            <!-- animation stop/start toggle button -->
            <div id="hof-header-left">
                <div class="header-button" id="matrix-control-button">
                    <label class="matrix-switch" >
                        <input id="matrix-switch" type="checkbox" checked="checked">
                        <div class="matrix-button">
                            <div class="matrix-light"></div>
                            <div class="matrix-dots"></div>
                            <div class="matrix-characters"></div>
                            <div class="matrix-shine"></div>
                            <div class="matrix-shadow"></div>
                        </div>
                      </label>
                </div>
                <div class="header-button" id="hof-title-graphics-button">
                    <label class="title-effect-switch">
                        <input id="title-effect-switch" type="checkbox" checked="checked" onclick="toggleTitleAnimation()">
                        <div class="title-effect-button">
                            <div class="title-effect-light"></div>
                            <div class="title-effect-dots"></div>
                            <div class="title-effect-characters"></div>
                            <div class="title-effect-shine"></div>
                            <div class="title-effect-shadow"></div>
                        </div>
                    </label>
                </div>
            </div>
            <h2 id="hof-title" class="fancy-title"></h2>
            <script> setHofTitle('$DADS', 10, 2024) </script>
            <div id="hof-header-right">
                <div id="month-fetch-controller">

                </div>
            </div>

        </div>
        <hr>
        <ol id="hof-list">
            {{ range $index, $member := . }}
            <li class="hof-entry-{{ inc $index }}" style="background-color: {{ $member.Usercolor }};">
                <div class="hof-entry-left">
                    <h1>{{ inc $index }}.</h1>
                    <img class="border-color-{{  $member.Status }}" src="{{  $member.Avatarurl }}" alt="avatar" />
                    <h3>{{  $member.Username }} <br> ({{  $member.Nickname }})</h3>
                </div>

                <div style="border-left:1px solid #000;height:250px"></div>

                <div class="hof-entry-right">
                    <p><strong>Message Count:</strong> <span class="msg-count">{{ $member.Msgcount }}</span></p>
                    <p><strong>Roles:</strong> 
                        {{ range  $member.Userroles }}
                            <span style="color: {{ .Rolecolor }};">{{ .Rolename }}</span>
                        {{ end }}
                    </p>
                    <p><strong>Joined At:</strong> {{ $member.Joinedat }}</p>
                    <p><strong>Status:</strong> {{ $member.Status }} 
                        <span class="status-light {{ $member.Status }}"></span>
                    </p>
                </div>
            </li>
            {{ end }}
        </ol>
    </div>
</div>
