<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/hof.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bots.css">
    <link rel="stylesheet" type="text/css" href="assets/css/mobile.css">


    <title>$Dads HQ</title>
    <link rel="icon" href="assets/icons/mozart_draw.jpg" type="inage.x-icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    
</head>

<header>
    <div id="header">
        <div id="navbtn">
            <button id="togglebtn" class="openbtn" onclick="toggleNav()">&rarr;</button>      
        </div>
        <div id="title">
            <h1 id="main-title">$DADS</h1>
        </div>
    </div>
</header>

<body class="sidebar-affected">
    <hr>
    <div id="main-siderbar" class="sidebar"> 
        <div id="logo-sidebar" class="mini-logo">
            <h2>$$$</h2>
            <hr>
        </div>
        <div class="top-sidebar">
            <a href="#" hx-get="/hof/" hx-target="#dynamic-display" hx-swap="innerHTML">Hall of Fame</a>
            <a href="#" hx-get="/dbots" hx-target="#dynamic-display" hx-swap="innerHTML">Ρομποτάκια</a>            
        </div>
        <div class="bottom-sidebar">
            <a href="#" onclick="">A S C E N D</a>
        </div>
    </div>
    <main class="scrollable-container" id="main-content">
        <div id="dynamic-display"></div>
    </main>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/hof.js"></script>    
    
</body>
