/* Base styles for desktop or larger screens */

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce the base font size */
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #header #navbtn {
        margin-bottom: 15px;
    }

    #main-siderbar {
        width: 100%; /* Make the sidebar full width on mobile */
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #main-content {
        padding: 10px;
    }

    .hof-content {
        padding: 15px;
        overflow-x: auto; /* Ensure scrolling for overflow content */
    }

    #hof-header {
        flex-direction: column; /* Stack header elements vertically */
        align-items: center;
    }

    /* Footer Styles */
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    footer .col-md-5, footer .col-md-2 {
        width: 100%; /* Make footer columns full width on mobile */
        margin-bottom: 20px;
    }

    .content-display {
        padding: 15px;
    }

    /* Images */
    img {
        max-width: 100%;
        height: auto; /* Make images responsive */
    }

    /* Make buttons and inputs full width */
    button, input, textarea {
        width: 100%;
    }
}
